<div class="with-border">
    <div class="ui header">
        Dashboard
    </div>
    <div class="ui divider">
    </div>
    <div class="ui stackable grid">
        <div class="center aligned column">
            <div class="ui segment">
                <h4 class="ui horizontal divider header">
                    <i class="tags icon">
                    </i>
                    Recent Transactions
                </h4>
                <table class="ui celled stackable table">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                VAT + NHIL (17.5%)
                            </th>
                            <th>
                                Type
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  ng-repeat="itm in transactions">
                            <td class="left floated">
                                {{$index + 1}}
                            </td>
                            <td >
                                {{itm.Date | date:'fullDate'}}
                            </td>
                            <td class="right aligned">
                                {{ itm.Vat | number:2 }}
                            </td>
                            <td>
                                {{itm.Type}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ui two column stackable grid">
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">
                        Total Transactions (VAT+NHIL)
                    </div>
                    <div class="description">
                        <div class="ui divided selection list">
                            <a class="item">
                                Input Transactions:
                                <div class="ui green right floated horizontal label">
                                    <span>
                                        {{TInputs | number:2}}
                                    </span>
                                </div>
                            </a>
                            <a class="item">
                                Output Transactions:
                                <div class="ui blue right floated horizontal label">
                                    <span >
                                        {{TOutputs | number:2}}
                                    </span>
                                </div>
                            </a>
                            <a class="item">
                                <b>
                                    Difference:
                                </b>
                                <div class="ui blue right floated horizontal label">
                                    <span >
                                        {{TDifference | number:2}}
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
                        <i class="calendar icon">
                        </i>
                        <span>
                            {{date | date:'short'}}
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <div class="ui label">
                    Total VAT+NHIL
                </div>
                <div id="monthDropdown" class="ui right floated purple labeled icon top left pointing dropdown button">
                    <i class="calendar icon">
                    </i>
                    <span class="text">
                        Select Month
                    </span>
                    <div class="menu">
                        <div class="item">
                            January
                        </div>
                        <div class="item">
                            February
                        </div>
                        <div class="item">
                            March
                        </div>
                        <div class="item">
                            April
                        </div>
                        <div class="item">
                            May
                        </div>
                        <div class="item">
                            June
                        </div>
                        <div class="item">
                            July
                        </div>
                        <div class="item">
                            August
                        </div>
                        <div class="item">
                            September
                        </div>
                        <div class="item">
                            October
                        </div>
                        <div class="item">
                            November
                        </div>
                        <div class="item">
                            December
                        </div>
                    </div>
                </div>
                <div class="ui hidden divider">
                </div>
                <div id="chart1">
                </div>
            </div>
        </div>
    </div>
    <div class="ui divider">
    </div>
    
</div>
