<div class="ui middle aligned center aligned grid">
    <div class="column login-view">
        <h2 class="ui themetxcolor image header">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
        <form class="ui large form" id="loginForm">
            <div class="ui stacked blue segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="mail red icon"></i>
                        <input type="text" name="email" placeholder="E-mail address" ng-model="user.Email">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock red icon"></i>
                        <input type="password" name="password" placeholder="Password" ng-model="user.Password">
                    </div>
                </div>
                <div class="ui fluid large blue button" ng-click="doLogin()">Login</div>
            </div>
        </form>
        <div class="ui message">
            Forgotten Password? <a href="#resetpassword" class="themetxcolor">reset</a> | Register <a href="#signup" class="themetxcolor">here</a>
        </div>
    </div>
</div>
