<div class="with-border">
    <div class="ui header">
        Profile
    </div>
    <div class="ui divider"></div>
    <div class="ui two column stackable grid">
        <div class="ten wide column">
            <div class="ui segment">
                <h4 class="ui center aligned header">Update Details</h4>
                <div class="ui hidden divider"></div>
                <form class="ui form">
                    <div class="field">
                            <label>Full Name</label>
                            <input type="text" ng-model="user.fullname" >
                        </div>
                        <div class="field">
                            <label>Email Address</label>
                            <input type="text" ng-model="user.email" disabled="">
                        </div>
                        <div class="field">
                            <label>Phone Number</label>
                            <input type="text" ng-model="user.phone" >
                        </div>
                        <div class="field">
                            <label>Company Name</label>
                            <input type="text" ng-model="user.company" >
                        </div>
                        <div class="two fields">
                        <div class="field">
                            <label>Old TIN</label>
                            <input type="text" ng-model="user.oldtin" >
                        </div>
                        <div class="field">
                            <label>New TIN</label>
                            <input type="text" ng-model="user.newtin" >
                        </div>
                    </div>
                    <div class="ui large green submit button" ng-click="update()">Update</div>
                </form>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui segment">
                <h4 class="ui center aligned header">Change Password</h4>
                <div class="ui hidden divider"></div>
                <form class="ui large form">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Current Password" ng-model="user.OldPassword">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="New Password" ng-model="user.NewPassword">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Repeat Password" ng-model="user.ConfirmPassword">
                        </div>
                    </div>
                    <div class="ui fluid large green submit button" ng-click="changePassword()">Change</div>
                </form>
            </div>
        </div>
    </div>
</div>
