<div class="ui middle aligned center aligned grid">
    <div class="column login-view">
        <h2 class="ui themetxcolor image header">
      <div class="content">
        Reset Password
      </div>
    </h2>
        <form class="ui large form">
            <div class="ui stacked blue segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="mail red icon"></i>
                        <input type="email" name="email" placeholder="E-mail address" ng-model="user.Email">
                    </div>
                </div>
                <div class="ui fluid large blue submit button" ng-click="doReset()">Reset</div>
            </div>
            <div class="ui error message"></div>
        </form>
        <div class="ui message">
            <a href="#login" class="themetxcolor">login</a>
        </div>
    </div>
</div>
